<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <h2>Ro'yxatdan o'tish</h2>
    <form action="/register" method="POST">
        <input type="text" name="username" placeholder="Username" required />
        <input type="password" name="password" placeholder="Password" required />
        <button type="submit">Ro'yxatdan o'tish</button>
    </form>
    <p>Tizimda ro'yxatdan o'tganmisiz? <a href="/login">Kirish</a></p>
</body>
</html>
