.clients__block {
  padding-top: 140px;
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
}

.cients__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  text-align: center;
  color: #fff;
}

.clients__list {
  display: flex;
  justify-content: space-between;
}